<?xml version="1.0"?>
<ConfigurationSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ConfigurationLookupUris>
    <string>https://configuration.service.acirroplus.com</string>
    <string>http://configuration.service.acirroplus.com</string>
  </ConfigurationLookupUris>
</ConfigurationSettings>